.section-one{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/banner.png);
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    margin: 0px auto;
}

.banner-text{
    text-align: center;
    padding: 40px 285px 0px 285px;
}

.banner-title{
    color: #FFF;
    font-family: Mulish, sans-serif;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner-paragraph{
    width: 676px;
    color: #FFF;
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 64px;
}

.banner-content{
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    border-radius: 8px;
    margin: 0px 180px 100px 180px;
}

.banner-form{
    border-radius: 8px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.banner-text-box{
    width: 170px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.banner-button{
    width: 170px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
    color: #FFF;
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.section-two{
    width: 1170px;
    height: 500px;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popular-tour-title{
    color: #131318;
    text-align: center;
    font-family: Mulish, sans-serif;
    font-size: 40px;
    font-weight: 800;
}

.popular-tour-paragraph{
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.populer-tour > ul{
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.populer-tour-image-content{
    width: 540px;
    height: 550px;
    border-radius: 16px;
}


.section-three{
    width: 1170px;
    height: 1100px;
    margin: 0px auto;
}


.destination-title, .why-choose-us-title{
    color: #131318;
    text-align: center;
    font-family: Mulish, sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin: 20px 300px 0px 300px;
}

.destination-paragraph, .why-choose-us-paragraph{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 24px 270px;
}

.destination-img-row-one{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 24px;
}

.destination-img-row-two{
    display: grid;
    grid-template-columns: 375px 475px 275px;
    justify-content: space-between;
    gap: 24px;
    margin-top: 24px;
}

.destination-img-row-three{
    display: grid;
    grid-template-columns: 475px 675px;
    justify-content: space-between;
    gap: 24px;
    margin-top: 24px;
}

.section-four{
    width: 1170px;
    height: 600x;
    margin: 0px auto;
}

.service-box-row-one{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 24px;
}

.service-box-row-two{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    margin: 24px 430px 60px 430px;
}

.service-box-one, .service-box-three{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.service-box-two{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.service-box-title{
    color: #131318;
    font-family: Mulish, sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding: 20px 200px 0px 32px;
}

.service-box-paragraph{
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 55px 20px 32px;
}

.newsletter{
    width: 1170px;
    height: 500x;
    margin: 0px auto;
}

.newsletter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.newsletter-title{
    color: #131318;
    font-family: Mulish, sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding-left: 20px;
}

.newsletter-paragraph{
    width: 350px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}

hr {
    width: 95%;
    margin: 24px 20px 24px 20px;
    background: rgba(19, 19, 24, 0.10);
}

.newsletter-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 20px;
}

.newsletter-text-box{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0px;
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
}

.newsletter-button{
    width: 416px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    border: 0px;
}

.newsletter-image{
    width: 675px;
    height: 422px;
    padding-left: 50px;
}

.offer-box{
    border: 0px;
    width: 324px;
    height: 120px;
    /* transform: rotate(-19.628deg); */
    transform: translate(105%, -165%) rotate(-20deg);
    border-radius: 16px;
    background: #FF5400;
}

.offer-box-para{
    color: #FFF;
    text-align: center;
    font-family: Mulish, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.offer-box-title{
    color: #FFF;
    text-align: center;
    font-family: Mulish, sans-serif;
    font-size: 32px;
    font-weight: 800;
}

.footer-style{
    width: auto;
    height: 502px;
    margin-top: 60px;
    background: rgba(19, 19, 24, 0.05);
}

.logo-name{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 110px 450px 0px 450px;
    color: var(--Dark-01, #131318);
    font-family: Mulish, sans-serif;
    font-size: 32px;
    font-weight: 800;
}

.footer-para{
    width: 650px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0px 335px 0px 335px;
}

.social-links{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.copyright{
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin: 50px 525px 110px 525px;
}



/* @media screen and (max-width: 576px) {
    .section-one{

    }
} */
